.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.iconDelete{
  color: rgb(189, 8, 8);
}
.action-delete{
  background-color: white;
  border: none;
  box-shadow: 5px 2px 8px 0px #f1d5d5;
  border: 1px solid white;
  border-radius: 4px;
}
.btnS{
  margin-bottom: 15px;
  margin-top: 15px;
}

.example-button-container{
  text-align: center;
}

.btnR{
  padding-left: 11px;
  padding-right: 18px;
  width: 100px;
  height: 41px;
}